<h1 id="tableLabel">Posts</h1>

<p>This component demonstrates fetching post from the server.</p>

<p *ngIf="!posts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="posts">
  <thead>
    <tr>
      <th>Created</th>
      <th>Modified)</th>
      <th>Title</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.created }}</td>
      <td>{{ post.modified }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.text }}</td>
    </tr>
  </tbody>
</table>
